@page "/user-input"
@using Actors
@using Actors.UserActors
@using Akka.Actor
@using Akka.AspNetCore
@rendermode InteractiveServer
@inject IActorBridge akkaService

<h3>User Input</h3>

<input @bind="key" />
<button class="btn btn-primary" @onclick="() => SendKey()">Send</button>

@if (!string.IsNullOrEmpty(response.Username))
{
    <p>@response.Username</p>
    <p>@response.Path</p>
    <button class="btn btn-primary" @onclick="() => CreateANewLobby()">Create a new Lobby</button>

}

@code {
    private string key;
    private User response = new();

    private async Task SendKey()
    {
        var u = new User() { Username= key};

        // Obtain a reference to the router actor
        var result = await akkaService.Ask<User>(u);
        Console.WriteLine(result);
        response = result;
    }

    private async Task CreateANewLobby()
    {
        var nl = new NewLobbyObject() { username = key };

        var result = await akkaService.Ask<ChangeUserState>(nl);
        if(result != null)
        {
            Console.WriteLine("made it all the way");
        }
    }
}

