@page "/user-input"
@using Actors
@using Actors.UserActors
@using Akka.Actor
@using Akka.AspNetCore
@rendermode InteractiveServer
@inject IActorBridge akkaService

<h3>User Input</h3>

<input @bind="key" />
<button class="btn btn-primary" @onclick="() => SendKey()">Send</button>

@if (!string.IsNullOrEmpty(response.Username))
{
    <p>@response.Username</p>
    <p>@response.Path</p>

}

@code {
    private string key;
    private User response = new();

    private async Task SendKey()
    {
        // Obtain a reference to the router actor
        var result = await akkaService.Ask<User>(key);
        Console.WriteLine(result);
        response = result;
    }
}

