<div>
	@if (!string.IsNullOrEmpty(GetShipSVG()))
	{
		@(new MarkupString(GetShipSVG()))
	}
</div>
@code {
	[Parameter]
	public string Color { get; set; } = "white";
	[Parameter]
	public int ShipNumber { get; set; } = 0;
	public string hexColor { get; set; } = "#ffffff";
	public List<string> ShipSVG;
	protected override void OnParametersSet()
	{
		Console.WriteLine("initialized");
		SetColor();
		setShip();
	}
	private void SetColor()
	{
		Console.WriteLine("color:", Color);
		switch(Color)
		{
			case "white":
				hexColor = "#ffffff";
				break;
			case "red":
				hexColor = "#e60000";
				break;
			case "blue":
				hexColor = "#0099ff";
				break;
			case "green":
				hexColor = "#2eb82e";
				break;
			case "yellow":
				hexColor = "#ffcc00";
				break;
			case "orange":
				hexColor = "#ff9900";
				break;
			case "purple":
				hexColor = "#9966ff";
				break;
			case "teal":
				hexColor = "#33cccc";
				break;
			case "powerBlue":
				hexColor = "#66ffff";
				break;
			default: 
				hexColor = "#ffffff";
				break;
		}

	}
	private string GetShipSVG()
	{if (ShipNumber <= (ShipSVG.Count - 1))
		{
			switch (ShipNumber)
			{
				case 0:
					return ShipSVG[0];
					break;
				case 1:
					return ShipSVG[1];
					break;
				case 2:
					return ShipSVG[2];
					break;
				case 3:
					return ShipSVG[3];
					break;

			}
		}
		return "";
	}
	private void setShip()
	{
		ShipSVG = new List<string>
		{
			$@"<svg fill=""{hexColor}"" height=""40px"" width=""40px"" version=""1.1"" id=""Layer_1"" xmlns=""http://www.w3.org/2000/svg"" xmlns:xlink=""http://www.w3.org/1999/xlink""
			 viewBox=""0 0 512 512"" xml:space=""preserve"">
			<g>
				<g>
				<path d=""M348.479,395.31H163.521l-9.214,46.069h36.864c0.198,3.882,0.753,7.877,1.772,11.943
						c5.898,23.533,24.824,42.294,56.251,55.763L256,512l6.805-2.916c31.427-13.468,50.353-32.23,56.251-55.763
						c1.019-4.067,1.574-8.061,1.772-11.943h36.864L348.479,395.31z"" />
				</g>
			</g>
			<g>
				<g>
				<path d=""M142.253,372.47l-4.117-11.426c-2.203-6.119-14.204-40.084-24.068-80.469l-25.066,20.052v109.686l53.932-35.954
							L142.253,372.47z"" />
				</g>
			</g>
			<g>
				<g>
				<path d=""M397.933,280.575c-9.864,40.386-21.866,74.352-24.071,80.476l-4.115,11.419l-0.681,1.889l53.932,35.954V300.627
						L397.933,280.575z"" />
				</g>
			</g>
			<g>
				<g>
				<path d=""M256,176.484c-9.526,0-17.276,7.75-17.276,17.276s7.75,17.276,17.276,17.276s17.276-7.75,17.276-17.276
						S265.526,176.484,256,176.484z"" />
				</g>
			</g>
			<g>
				<g>
				<path d=""M265.824,6.793L256,0l-9.824,6.792C241.639,9.928,135.07,84.795,135.07,188.213c0,61.675,34.122,157.091,35.574,161.124
						l4.115,11.42h162.483l4.115-11.42c1.451-4.031,35.573-99.447,35.573-161.122C376.93,84.795,270.361,9.929,265.824,6.793z
			 			M256,245.587c-28.577,0-51.827-23.25-51.827-51.827c0-28.578,23.25-51.827,51.827-51.827s51.827,23.25,51.827,51.827
						S284.577,245.587,256,245.587z"" />
				</g>
			</g>
		</svg>",
		$@"<svg width=""40px"" height=""40px"" viewBox=""0 0 16 16"" version=""1.1"" xmlns=""http://www.w3.org/2000/svg"" xmlns:xlink=""http://www.w3.org/1999/xlink"" class=""si-glyph si-glyph-space-ship"">
			<title>Rocket</title>
			<defs></defs>
			<g stroke = ""none"" stroke-width=""1"" fill=""none"" fill-rule=""evenodd"">
				<g transform = ""translate(1.000000, 0.000000)"" fill=""{hexColor}"">
					<path d = ""M10.023,8.441 C10.023,8.441 11.322,10.408 12.601,11.035 C13.593,11.517 12.492,14.427 11.962,15.681 C11.811,16.035 11.605,16.025 11.39,15.723 C10.982,15.15 10.17,13.968 8.888,13.968 L4.134,13.968 C2.851,13.968 2.039,15.15 1.632,15.723 C1.417,16.025 1.209,16.035 1.06,15.681 C0.53,14.426 -0.571,11.517 0.42,11.035 C1.7,10.408 2.999,8.441 2.999,8.441 L10.023,8.441 L10.023,8.441 Z"" class=""si-glyph-fill""></path>
					<path d = ""M10.192,9.062 C9.83,5.966 8.6,1.06 7.076,0.077 C6.898,0.056 6.717,0.043 6.537,0.043 C6.353,0.043 6.175,0.056 5.996,0.077 C4.472,1.06 3.241,5.967 2.88,9.062 C2.81,9.666 2.772,10.205 2.772,10.627 C2.772,12.152 3.261,13.272 4.032,13.984 L9.042,13.984 C9.813,13.271 10.302,12.152 10.302,10.627 C10.301,10.204 10.263,9.666 10.192,9.062 L10.192,9.062 Z M6.5,4 C7.3281427,4 8,4.67198632 8,5.50128242 C8,6.32972357 7.3281427,7 6.5,7 C5.67100793,7 5,6.32972357 5,5.50128242 C5,4.67198632 5.67100793,4 6.5,4 L6.5,4 Z"" class=""si-glyph-fill""></path>
				</g>
			</g>
		</svg>",
		$@"<svg fill=""{hexColor}"" width=""40px"" height=""40px"" version=""1.1"" id=""Capa_1"" xmlns=""http://www.w3.org/2000/svg"" xmlns:xlink=""http://www.w3.org/1999/xlink"" viewBox=""0 0 543.086 543.086"" xml:space=""preserve"">
				<g id=""SVGRepo_bgCarrier"" stroke-width=""0""></g>
				<g id=""SVGRepo_tracerCarrier"" stroke-linecap=""round"" stroke-linejoin=""round""></g>
				<g id=""SVGRepo_iconCarrier""> 
					<g><g> 
							<path d=""M371.873,315.686c2.521-29.395,3.85-55.362,3.997-77.896c-0.142-49.97-7.638-92.951-22.467-128.917 c-14.841-35.974-39.683-71.384-74.542-106.243c-1.817-1.818-4.094-2.693-6.823-2.625c-2.729,0.073-5.073,1.089-7.032,3.047 c-36.53,36.537-61.726,71.671-75.594,105.399c-13.855,33.74-20.851,76.855-20.992,129.34c0.141,22.546,1.475,48.507,3.99,77.896 c-99.731,0-43.88,220.252-43.88,220.252c1.126,4.486,4.205,6.867,9.241,7.143h26.873c2.521,0,4.755-0.979,6.713-2.944 c0.839-0.838,1.402-1.536,1.683-2.093l40.104-75.796l117.993-0.007l40.104,75.803c1.817,3.219,4.614,4.896,8.396,5.037 l26.879,0.006c2.791-0.281,5.037-1.261,6.714-2.943c1.261-1.262,2.099-2.656,2.521-4.199 C415.76,535.943,468.551,315.686,371.873,315.686z M292.295,309.559c-5.6,5.601-12.313,8.409-20.146,8.403 c-7.84,0-14.554-2.797-20.159-8.403c-5.606-5.605-8.403-12.319-8.403-20.159c-0.006-7.84,2.797-14.559,8.396-20.159 c5.601-5.594,12.32-8.396,20.159-8.396c7.84,0,14.554,2.797,20.159,8.403c5.601,5.6,8.397,12.32,8.403,20.16 C300.698,297.252,297.889,303.959,292.295,309.559z M292.295,229.999c-5.6,5.6-12.313,8.409-20.146,8.403 c-7.84,0-14.554-2.797-20.159-8.403c-5.606-5.606-8.403-12.32-8.403-20.159c-0.006-7.84,2.797-14.56,8.396-20.159 c5.601-5.594,12.32-8.397,20.159-8.397c7.84,0,14.554,2.797,20.159,8.403c5.601,5.6,8.397,12.319,8.403,20.159 C300.698,217.691,297.889,224.399,292.295,229.999z M292.295,150.439c-5.6,5.6-12.313,8.409-20.146,8.403 c-7.84,0-14.554-2.797-20.159-8.403c-5.606-5.606-8.403-12.32-8.403-20.159c-0.006-7.84,2.797-14.56,8.396-20.16 c5.601-5.593,12.32-8.396,20.159-8.396c7.84,0,14.554,2.797,20.159,8.403c5.601,5.6,8.397,12.32,8.403,20.159 C300.698,138.132,297.889,144.839,292.295,150.439z""></path> 
					</g> </g> 
				</g>
		</svg>",
		$@"<svg width=""40px"" height=""40px"" viewBox=""0 0 24 24"" xmlns=""http://www.w3.org/2000/svg"" fill=""{hexColor}"">
			<g id=""SVGRepo_bgCarrier"" stroke-width=""0""></g><g id=""SVGRepo_tracerCarrier"" stroke-linecap=""round"" stroke-linejoin=""round""></g><g id=""SVGRepo_iconCarrier""> <g> 
				<path fill=""none"" d=""M0 0h24v24H0z""></path> 
				<path d=""M2.88 18.054a35.897 35.897 0 0 1 8.531-16.32.8.8 0 0 1 1.178 0c.166.18.304.332.413.455a35.897 35.897 0 0 1 8.118 15.865c-2.141.451-4.34.747-6.584.874l-2.089 4.178a.5.5 0 0 1-.894 0l-2.089-4.178a44.019 44.019 0 0 1-6.584-.874zM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z""></path> 
			</g> </g></svg>",
		};
	}
	
}
