@page "/"
@using AsteriodsFrontend.Services
@inject AkkaService akkaService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<input type="text" @bind="key" />
<button class="btn btn-primary" @onclick="SendToActor">Send To Actor</button>

<SurveyPrompt Title="How is Blazor working for you?" />
<p>
    @responseMessage
</p>
@code {
    private string responseMessage;
    private string key;

    private async Task SendToActor()
    {
        akkaService.Tell(key);
        responseMessage = "";
        var response = await akkaService.Ask<string>(key);
        responseMessage = response;
    }
}